<div class="row">
    <form [formGroup]="createHeroForm" (ngSubmit)="newHero()" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="name" placeholder="Placeholder" id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="description" id="description" type="text" class="validate">
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="waves-effect waves-light btn">Create Hero</button>
        </div>
    </form>
</div>